In [1]:
print("hello")

hello

In [10]:
# print("apple")
print("""  
        my self romin,
        learning engineering from LJ
        """)

        my self romin,
        learning engineering from LJ

In [13]:
a = 10
b = 20
a,b = b,a
print(a,b)

20 10

In [18]:
a = 1
b = 2
print(type(a==b))

<class 'bool'>

In [38]:
name = input('enter name: ')
mobileNumber = (float(input('enter Mobile Number: ')))

print('your data: ' + name , mobileNumber)
print(type(name))

print(type(mobileNumber))

enter name: romin
enter Mobile Number: 989
your data: romin 989.0
<class 'str'>
<class 'float'>

In [37]:
a = "good"
b = "morning"
c = a + " " + b
print("sum is: "+ c)
print("sum is: "+ c)

sum is: good morning
sum is: good morning

In [53]:
print(type('10'))
a=int('10')
print(type(a))

print(type('A'))

<class 'str'>
<class 'int'>
<class 'str'>

In [57]:
print(int(True))

1

In [63]:
print(20//3.5)

5.714285714285714

In [65]:
print(20/3.0)

6.666666666666667

In [66]:
print(10 == 10.0)
print

True

In [74]:
print(10 and 20)
print(10 or 20)

print(0 or 10)
print('0' and '1')

20
10
10
1

In [76]:
not 10
not 0

True

In [10]:
print(34/7)

4.857142857142857

In [12]:
x = 10
x **= 10
print(x)

10000000000

In [13]:
a , b  = 10 , 20
x = 50 if a>b else 35
print(x)

35

In [17]:
s = "hello python"
# print('i' in s)
# print('he' in s)
# print(' ' in s)

True

In [20]:
a = 10
b = 20
print(a is not b)
print(a is b)

True
False

In [21]:
# ()
# **
# bitwise complement     (not in syllabus)
# * , / , // , %
# + , -
# << , >> 
# & , ^ , |              (not in syllabus)
# relational operation
# assignment
# identity               (not in syllabus)
# membership(in , not in)
# not , and , or (logical)

In [30]:
print(6 + 5 - 4 * 3 / 2 % 1)
print(6==6.0)
print(5 and True or 3/0)
print(625/10)

11.0
True
True
62.5

In [32]:
print(ord('z'))
print(ord('Z'))

122
90

In [36]:
print(chr(98))
print (chr(92))

x = chr(100)
print(x)

b
\
d

In [ ]:
import math
x = math.sqrt(88)
print(x)

radius = 3
print("area:" , math.pi * radius ** 2)

In [62]:
# seconds into hour , minute
sec = (int)(input("enter seconds: "))

hour   = sec // 3600
sec    = sec %  3600
minute = sec // 60
sec    = sec %  60


print("hr : min : sec :" , hour , ':' , minute , ' : ' , sec )

enter seconds: 3665
hr : min : sec : 1 : 1  :  5

In [61]:
a , b = 10 , 20

a = a + b
b = a - b
a = a - b

print(a , b)

20 10

In [67]:
x = 5

if x == 6:
    print("romin")
    print("jenish")
elif x == 5:
    print("prince")

prince

In [83]:
# write a py programme to get marks from the user and give grade according to following distribution

marks = (int)(input("enter marks: "))

if (marks >= 80 and marks <= 100):
    print("grade is A")
elif (marks >= 60 and marks <= 79):
    print("grade is B")
elif (marks >= 35 and marks <= 59):
    print("grade is C")
elif (marks >= 0 and marks <= 0):
    print("grade is D")
else: 
    print("not valid number")

enter marks: 90
grade is A

In [94]:
a = (int)(input("enter num1: "))
b = (int)(input("enter num2: "))
c = (int)(input("enter num3: "))

if a > b:
    if a > c:
        print('num1 is max')
    else:
        print('num3 is max')
elif b > a:
    if b > c:
        print('num2 is max')
    else:
        print('num3 is max')

enter num1: 14
enter num2: 12
enter num3: -942
num1 is max