In [1]:
print("hello")

hello

In [10]:
# print("apple")
print("""  
        my self romin,
        learning engineering from LJ
        """)

        my self romin,
        learning engineering from LJ

In [13]:
a = 10
b = 20
a,b = b,a
print(a,b)

20 10

In [18]:
a = 1
b = 2
print(type(a==b))

<class 'bool'>

In [38]:
name = input('enter name: ')
mobileNumber = (float(input('enter Mobile Number: ')))

print('your data: ' + name , mobileNumber)
print(type(name))

print(type(mobileNumber))

enter name: romin
enter Mobile Number: 989
your data: romin 989.0
<class 'str'>
<class 'float'>

In [37]:
a = "good"
b = "morning"
c = a + " " + b
print("sum is: "+ c)
print("sum is: "+ c)

sum is: good morning
sum is: good morning

In [53]:
print(type('10'))
a=int('10')
print(type(a))

print(type('A'))

<class 'str'>
<class 'int'>
<class 'str'>

In [57]:
print(int(True))

1

In [63]:
print(20//3.5)

5.714285714285714

In [65]:
print(20/3.0)

6.666666666666667

In [66]:
print(10 == 10.0)
print

True

In [74]:
print(10 and 20)
print(10 or 20)

print(0 or 10)
print('0' and '1')

20
10
10
1

In [76]:
not 10
not 0

True

In [10]:
print(34/7)

4.857142857142857

In [12]:
x = 10
x **= 10
print(x)

10000000000

In [13]:
a , b  = 10 , 20
x = 50 if a>b else 35
print(x)

35

In [17]:
s = "hello python"
# print('i' in s)
# print('he' in s)
# print(' ' in s)

True

In [20]:
a = 10
b = 20
print(a is not b)
print(a is b)

True
False

In [21]:
# ()
# **
# bitwise complement     (not in syllabus)
# * , / , // , %
# + , -
# << , >> 
# & , ^ , |              (not in syllabus)
# relational operation
# assignment
# identity               (not in syllabus)
# membership(in , not in)
# not , and , or (logical)

In [30]:
print(6 + 5 - 4 * 3 / 2 % 1)
print(6==6.0)
print(5 and True or 3/0)
print(625/10)

11.0
True
True
62.5

In [32]:
print(ord('z'))
print(ord('Z'))

122
90

In [36]:
print(chr(98))
print (chr(92))

x = chr(100)
print(x)

b
\
d

In [ ]:
import math
x = math.sqrt(88)
print(x)

radius = 3
print("area:" , math.pi * radius ** 2)

In [62]:
# seconds into hour , minute
sec = (int)(input("enter seconds: "))

hour   = sec // 3600
sec    = sec %  3600
minute = sec // 60
sec    = sec %  60


print("hr : min : sec :" , hour , ':' , minute , ' : ' , sec )

enter seconds: 3665
hr : min : sec : 1 : 1  :  5

In [61]:
a , b = 10 , 20

a = a + b
b = a - b
a = a - b

print(a , b)

20 10

In [67]:
x = 5

if x == 6:
    print("romin")
    print("jenish")
elif x == 5:
    print("prince")

prince

In [83]:
# write a py programme to get marks from the user and give grade according to following distribution

marks = (int)(input("enter marks: "))

if (marks >= 80 and marks <= 100):
    print("grade is A")
elif (marks >= 60 and marks <= 79):
    print("grade is B")
elif (marks >= 35 and marks <= 59):
    print("grade is C")
elif (marks >= 0 and marks <= 0):
    print("grade is D")
else: 
    print("not valid number")

enter marks: 90
grade is A

In [94]:
a = (int)(input("enter num1: "))
b = (int)(input("enter num2: "))
c = (int)(input("enter num3: "))

if a > b:
    if a > c:
        print('num1 is max')
    else:
        print('num3 is max')
elif b > a:
    if b > c:
        print('num2 is max')
    else:
        print('num3 is max')

enter num1: 14
enter num2: 12
enter num3: -942
num1 is max

In [5]:
# write a py programme to arrange 3 numbers in asc and desc order. 3 number from user


x,y,z=0,0,0

if a<b and b<c:
    if b<c:
        x,y,z = a,b,c
    else: 
        x,y,z = a,c,b
elif b<c and b<a:
    if a<c:
        x,y,z = b,a,c
    else:
        x,y,z = b,c,a
elif c<a and c<b:
    if a<b:
        x,y,z = c,a,b
    else:
        x,y,z = c,b,a
else:
    print("enter correct number")
    
print("ascending order:" , x,y,z)
print("descending order:" , z,y,x)

enter num1: 2
enter num2: 2
enter num3: 2
enter correct number
ascending order: 0 0 0
descending order: 0 0 0

In [16]:
# wap to create calculator get a two number from user and also get a sign from a user which operation he/she want to do

a = (int)(input("enter num1: "))
b = (int)(input("enter num2: "))
c = input("enter operation sign: ")

if c=="+":
    print("summation is: " , a+b)
elif c=="-":
    print("subtraction is:", a-b)
elif c=='*':
    print("multiplication is:" , a*b)
elif c=='//':
    print("division is:" , a//b)

enter num1: 5
enter num2: 6
enter operation sign: //
division is: 0

In [23]:
# to check whether the entered date is valid or not , if the date is valid than give the incremented date
date = (int)(input("enter date: "))
month = (int)(input("enter month: "))
year = (int)(input("enter year: "))

if (month==1 or month==3 or month==5 or month==7 or month==8 or month==10 or month==12):
    max1=31
elif (month == 4 or month == 6 or month == 9 or month == 11):
    max1=30
elif (year%4==0 and year%100!=0 or year%400==0):
    max1=29
else:
    max1=28
    
if month < 1 or month > 12:
    print('date is invalid')
elif date < 1 or date > max1:
    print('date is invalid')
elif date == max1 and month != 12:
    date = 1
    month = month + 1
    print('next date=' , date , month , year)
elif date == max1 and month == 12:
    date = 1
    month = 1
    year = year + 1
    print('next date=' , date , month , year)
else:
    date = date + 1
    print('next date=' , date , month , year)

enter date: -20
enter month: 2
enter year: 2500
date is invalid

In [32]:
# wap to calculate number of basic american coins given value less than 1$ = 100cents ,  25cents = 1 quarter , 10cents = 1 dime , 5 cents = 1 nickle , 1 cent = 1 penny
cents = int(input("enter cents: "))

quarter = 0
dime = 0 
nickle = 0
penny = 0


if cents > 25:
    quarter = cents // 25
    cents = cents % 25
    print(quarter , 'quarter' , end=',')
if cents >= 10:
    dime = cents//10
    cents = cents % 10
    print(dime , 'dime' , end=',')
if cents > 5:
    nickle = cents//5
    cents = cents % 5
    print(nickle , 'nickle' , end=',')
if cents >=1:
    penny = cents
    print(penny,'penny')

enter cents: 234
9 quarter,1 nickle,4 penny

In [3]:
# wap to calculate parking fees as per the entry and exit time, get entry and exit time in 24 hours times from user and fees are as following

vehicle = (int(input("""enter vehicle type number
                           1. truck
                           2. car
                           3. two wheelrs""")))
entry_hr = (int)(input("enter entry hour: "))
entry_min = (int)(input("enter entry minute: "))
exit_hr = (int)(input("enter exit hour: "))
exit_min = (int)(input("enter exit minute: "))

if exit_hr < entry_hr:
    exit_hr = exit_hr + 24

parking_time_hr = (exit_hr - entry_hr)
parking_time_min = (exit_min - entry_min)

if parking_time_hr < 3 or (parking_time_hr == 3 and parking_time_min <= 0):
    if vehicle == 1:
        rate = 100
    elif vehicle == 2:
        rate = 50
    else:
        rate = 30
elif parking_time_hr > 3 or (parking_time_hr == 3 and parking_time_min > 0):
    if vehicle == 1:
        rate = 150
    elif vehicle == 2:
        rate = 100
    else:
        rate = 50
else:
    print('enter time properly')
print('rate rs=' , rate)

enter vehicle type number
                           1. truck
                           2. car
                           3. two wheelrs2
enter entry hour: 3
enter entry minute: 0
enter exit hour: 5
enter exit minute: 0
rate rs= 50

In [19]:
for i in range(11):
    print(i, end=',')
    
s = 'apple mango'
for i in s:
    print(s)

for i in range(1,20,3):
    print(i)

0,1,2,3,4,5,6,7,8,9,10,apple mango
apple mango
apple mango
apple mango
apple mango
apple mango
apple mango
apple mango
apple mango
apple mango
apple mango
1
4
7
10
13
16
19